services:
  webhook:
    image: python:3.14-slim@sha256:1f741aef81d09464251f4c52c83a02f93ece0a636db125d411bd827bf381a763
    working_dir: /app
    volumes:
      - ./:/app
    ports:
      - "8080:8080"
    command: bash -c "pip install flask && python webhook.py"
  foo:
    image: python:3.14-slim@sha256:1f741aef81d09464251f4c52c83a02f93ece0a636db125d411bd827bf381a763
    command: tail -f /dev/null
