services:
  webhook:
    image: python:3.14-slim@sha256:6a27522252aef8432841f224d9baaa6e9fce07b07584154fa0b9a96603af7456
    working_dir: /app
    volumes:
      - ./:/app
    ports:
      - "8080:8080"
    command: bash -c "pip install flask && python webhook.py"
  foo:
    image: python:3.14-slim@sha256:6a27522252aef8432841f224d9baaa6e9fce07b07584154fa0b9a96603af7456
    command: tail -f /dev/null
